name: Release
on:
  release:
    types: [published]
jobs:
  release-zips:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          fetch-depth: 0

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c  # v6.1.0
        with:
          go-version: '1.21.x'

      - run: CGO_ENABLED=0 make release

      - run: gh release upload ${{ github.event.release.tag_name }} *.zip
        env:
            GH_TOKEN: ${{ github.token }}
