on:
  release:
    types: [published]
jobs:
  release-zips:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29  # v4.1.6
        with:
          fetch-depth: 0

      - uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7  # v5.0.1
        with:
          go-version: '1.19.x'

      - run: CGO_ENABLED=0 make release

      - run: gh release upload ${{ github.event.release.tag_name }} *.zip
        env:
            GH_TOKEN: ${{ github.token }}
